@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 320px) {
    .wrapper {
        width: 120px;
    }
    
    .line {
        min-width: 120px;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;

}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.container p {
    display: inline;
}

.wrapper {
    position: absolute;
    left: 0px;
    width: 350px;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: left;
    text-transform: uppercase;
    margin-top: 40px;
}

.wrapper h2 {
    text-align: left;
}

.line {
    height: 25px;
    min-width: 350px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
    left: 0px;
}

.line::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index: -2;
    background: #d3d6d7;
}

.line::after {
    /*displays the line bar*/
    /* content: ''; */
    background: #333;
    height: 25px;
    transition: 0.8s;
    display: block;
    width: 100%;
    animation: animate 1 3.5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes animate {
    0% {
        width: 0;
    }
    101% {
        width: 100;
    }
}