/*  Screen sizes:
    -iPhones 6->X: 375 px
    -iPhones Landscape: 568-812px (try 629px)
*/


@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 629px) {
    .wrapper {
        width: 120px;
    }
    
    .line {
        min-width: 120px;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;

}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.container p {
    display: inline;
}

.wrapper {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center; 
    text-transform: uppercase;
    margin-top: 20px;
}

.wrapper h2 {
    text-align: left;
}

.line {
    height: 25px;
    min-width: 350px;
    margin: 0 auto 10px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
    left: 0px;
    
}

.line::before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index: -2;
    background: #d3d6d7;
}

.line::after {
    /*displays the line bar*/
    /* content: ''; */
    background: #333;
    height: 25px;
    transition: 0.8s;
    display: block;
    width: 100%;
    animation: animate 1 3.5s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.vertical-radio-buttons {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
}

.vertical-radio-buttons div {
    display: block;
    padding: 0 0 7px 7;
    clear: both;   
}
  
.vertical-radio-buttons span {
    display: block;
    padding: center;
    cursor: inherit;
}

@media only screen and (max-width: 500px) {
    /* .vertical-radio-buttons div {
        /* height: 0; */
        /* padding-top: 4%;
    } */
}

#button {
    color: rgb(66, 145, 219);
    font-family: 'Gill Sans';
    font-weight: 10px;
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    border: solid green;
    border-radius: 30px;
    outline: none;
    
    padding: 1px 10px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

#button:hover {
    color: blue;
    background-color: aquamarine;
}

#reset {
    color: rgb(66, 145, 219);
    font-family: 'Gill Sans';
    font-weight: 10px;
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    border: solid green;
    border-radius: 30px;
    outline: none;
    
    padding: 1px 10px;

    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

#reset:hover {
    color: blue;
    background-color: aquamarine;
}

@keyframes animate {
    0% {
        width: 0;
    }
    101% {
        width: 100;
    }
}